<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plance">
        <activity
            android:name=".EditTask"
            android:exported="true" />
        <activity
            android:name=".CreateTask"
            android:exported="true" />
        <activity
            android:name=".TaskDetail"
            android:exported="true" />
        <activity
            android:name=".Task"
            android:exported="true"
            android:theme="@style/Theme.Plance.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true" />
        <activity
            android:name=".ThirdFeature"
            android:exported="true" />
        <activity
            android:name=".SecondFeature"
            android:exported="true" />
        <activity
            android:name=".FirstFeature"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>